/* 公用样式  */
.h2{
	   font-size: 30px;
}
.c1{
	    color: #333;
}
.c2{
	    color: #999;
}
.c3{
	 	color: #ee5142
}
.c4{
	 	color: red
}
.c5{
	color:#fff;
}
.c6{
	color:#636262
}
/*字体样式  */
.f01{
	    font: 14px/1.2 Arial,"Hiragino Sans GB","微软雅黑","宋体";
}
.f02{
	    font-style: normal;
	    font-size:20px;
}
.f03{
		font-size: 30px;
} 
.f04{
		font-size: 30px;
}  
.f05{
	    font-weight: 600;
}
.f06{
		font-size: 21px;
} 
.f07{
	font-size:16px;
}
/*边距*/
.margin-L10{
	margin-left:10px;
}
/*字体*/
.font-nol{
	font-weight:normal;
}
/*   background-color:  */
.bc01{
	  background-color: #e5e5e5;
}
.bc02{
	  background-color: #f3f3f3
}

/* 公用样式  */
.suiteBoby{
	 color: #333; 
	 font: 14px/1.2 Arial,"Hiragino Sans GB","微软雅黑","宋体";
}
 
.steps{
	height: 180px;
}
.payProcess >li img{
	padding: 21px;
    width: 83px;
    height: 58px; 
   	border-radius: 9px;
   	background-color: #e5e5e5;
}
.payProcess >li>div{
	width: 142px;
    padding-left: 55px;
}
.payProcess >li{
	list-style-type: none;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}
.payProcess >li > span
{
	float: right;
	margin-top: -77px;
	margin-right: -31px;
}
.payProcess >li > div> div> span{
	 margin-left: 20px;
	 color: #333;
    font: 14px/1.2 Arial,"Hiragino Sans GB","微软雅黑","宋体";
}
.payProcess {
    padding-top: 24px; 
    height: 140px;
}
.select{ 
    padding-left: 8px;
    border: 1px solid #e5e5e5;
    border-radius: 9px;
    background-color: #e5e5e5;
}
.selectSpan{
	background-color: #f5f5f5; 
}
.detailImgFrist{
	height: 312px;
    width: 542px;
    float: left;
}
.detailImgFrist >img {
	width: 501px;
    height: 279px;
    margin: 18px;
    border-radius: 9px;
} 
.detailIntro{
    float: left; 
    margin: 22px;
}  
.detailIntro >table tr td:nth-child(2){
    width: 338px;
    text-align: left;
}
.detailIntro >table{ 
    margin-top: 27px;
}
.detailIntro >table tr td:nth-child(1){
    font-size: 12px;
    text-align: left;
    width: 66px;
}
.detailsHead >div:nth-child(1) { 
	height: 312px;
    border: 1px solid #ddd;
} 
.suiteListAll{
	border: 1px solid;
    width: 1169px;
    
}
.suiteList{
 	padding-top: 41px;
} 
 .suiteth {
	width: 274px;
    height: 40px;
    border: 1px solid #e5e5e5; 
    text-align: center;
}
.title01{
	border: 1px solid #e5e5e5;
    width: 1095px;
    height: 53px;
    margin-left: 19px;
}
.detailsInfo{ 
    padding-top: 40px;
}
.title01 >span{
    float: left;
    margin: 17px;
}
.logo>img{
    margin: 11px;
    width: 516px;
    height: 241px;
}
.info{
	margin-top: 34px;
    width: 100%;
   height: 100%;
}
.line01{
	border: 1px solid #999999;
}
.summary{
	font-size: 12px; 
}
.detailIntro >span{
	color: #333333;
    font-size: 34px;
    font-weight: 700;
}    

.head01{
	   margin: 48px 0px -4px;
} 
.detailSuite{
	float:right;
	width:600px;
}
.detailSuite >div{
	   margin: 15px 0px 20px;
}  

.reserve{ 
	background-color: #0088cc;
    float: left;
    width: 74px;
    padding: 8px 4px;
    margin-left: 21px;
    border-radius: 9px;
    color: #f5f5f5;
    text-align: center;
}
.selectBranch>div{
	margin: 7px 27px 0px 13px;
}
.selectBranch>div>div{
	float: left;
}
.selectBranch>div>span {
	float: left;
    padding: 9px 0px 0px 0px;
}
.selectBranch{
 	border: 2px solid #eaba75;
    width: 1162px;
    height: 54px;
}
.detailsTable{
	width: 1162px;
    height: 100%;
    border: 1px solid #e5e5e5;
    text-align: center;
} 
.detailsTable tr td{
	border: 1px solid #e5e5e5;
	height: 40px;
	
}
.detailsTable tr:nth-child(1){
	 font-weight: 900;
    font-size: 16px;
	
}

.detailsAll{
	    padding: 0px 0px 22px 0px;
}
.branchBoby{
	    clear: both;
	    margin: 84px 0px 0px 91px
}
.branchBoby tr{
	     height: 36px;
}
.branchBoby tr th{
	     height: 36px;
	     width: 300px;
	     border: 1px solid #e5e5e5;
    	 color: #575757;
    	 text-align: center;
}
.branchSum{
	    color: red;
	    padding: 15px 49px;
}
.selectOrgBranch>div:nth-child(1)>div {
	float: left;
    margin: 17px 340px 4px 31px;
}  
.selectOrgBranch>div:nth-child(1){
	border: 1px solid #e5e5e5;
    height: 50px;
}  
.selectOrgBranch>div:nth-child(2) {
	 clear: both;
	 margin: 8px 0px 8px 42px;
} 

.selectOrgSuite>div:nth-child(1)>div {
	float: left;
    margin: 17px 272px 4px 31px;
}  
.selectOrgSuite>div:nth-child(1){
	border: 1px solid #e5e5e5;
    height: 50px;
}  
.selectOrgSuite>div:nth-child(2) {
	 clear: both;
	 margin: 8px 0px 8px 42px;
} 
.selectFeeItem{
    background-color: #0088cc;
    float: left;
    width: 74px;
    color: #f5f5f5;
    text-align: center;
 }
.inPrice{
	color: red;
    /*font-size: 21px;*/
    padding: 20px;
}
.selectDate>div:nth-child(1)>div { 
       float: left;
    /*width: 22%;*/
    padding: 17px 340px 4px 31px;
    /*text-align: center;*/
}  
.selectDate>div:nth-child(1){
	border: 1px solid #e5e5e5;
    height: 50px;
} 
.selectDate>div:nth-child(1)>div:nth-child(2){	
	color: red;
    margin: 0px 0px 0 -66px;
    font-size: 17px;
}
.recordInfo{
	border: 1px solid #e5e5e5;
    height: 100%;
    margin: 12px 0px;
}
.recordInfo>div{
	/* padding: 24px 0px 9px 159px; */
}
.examType>input{
	margin: 0px 0px 0px 60px;
}
.examType{
	 margin: 24px 0px 0px 59px;
} 
.addRecordTable tr th{
	width: 223px; 
}
.addRecordSubmit{
   
}
.addRecordSubmit>div{
    background-color: #0088cc;
    float: left;
    width: 84px;
    padding: 11px 0 9px 6px;
    margin-left: 8px;
    color: #f5f5f5;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    font-family: initial;
}
.addRecordTable { 
	  margin: 9px 0px 0px 275px;
}
.addRecord{
	     
}
.addRecord>div>div{
	padding: 10px 0px 0px 20px;
}
.addRecord>div{
	border: 1px solid #e5e5e5;
    margin: 17px 11px 0px 10px;
}
.recordList01{
    border: 1px solid #e5e5e5;
    margin: 10px;
}
.recordList01>div{ 
    text-align: center;
    padding: 6px 0px 10px 62px;
}
.recordListToby tr th{
	width: 169px;
    height: 30px;
    border: 1px solid #e5e5e5;
    text-align: center;
}
.addInvoiceUl li{
	    clear: left;
	    list-style-type: none;
}
.addInvoiceUl li>span {
	    float: left;
	    width: 187px;
    	height: 28px;
    	text-align: center;
}
.addInvoiceUl li>div{
	    float: left;
	    list-style-type: none;
    	height: 43px;
}
.invoice01{
	 height: 200px;
     width: 700px;
}
.priceTotal ul li{
	    clear: left;
	    list-style-type: none;
	    height: 30px;
}
.priceTotal ul li>span {
	    float: left;
	    width: 217px;
    text-align: center;
}
.priceTotal ul li>span： {
	    float: left;
	    width: 217px;
    text-align: center;
}
.priceTotal ul li>span:nth-child(2) {
	   color: red; 
}
.priceTotal ul li>div{
	    float: left;
}
/* .priceTotal{
	  float: right;
}  */    
.priceTotal>div{
	 float: right;
    margin-top: -201px;
} 
.addInvoice >div:nth-child(1) {
	width: 170px;
    height: 35px;
    text-align: center;
}
.selectPersonnel{
	 clear: both;
} 
.selectPersonnel div{
	 float: left;
} 
.selectPersonnel div div{
	color:#fff;
    text-align: center;
}    
   
.submitOrder{
	 clear: both;
    height: 140px;
} 
.submitOrder div{
	float: right;
} 
.submitOrder div div{
	color:#fff;
    text-align: center;
}    
#personalExamModel{
	 width: 965px;
} 
.bobyLeft{
	 float: left;
}
.bobyRigth{
	 float: rigth;
}
#employeesList tr th, #staffInfoTbody tr td {
    border: 1px solid #dedede;
    width: 166px;
    text-align: center;
    height: 30px;
    font-size: 14px;
}
#groupExamModel{
	width: 800px;
}
.edit>a{
	padding: 10px;
}
/*record*/
.con{
	color: #0b73bf;
    font-weight: 600;
    font-size: 16px;
}

    






